.menu-nav{
    background-color: #76b4b0;
    color: white;
    font-weight: bold;
}

.icon-toggle{
    background-image: url("../Assets/Icons/menu.png");
    border: black 1px solid;
}

.slogan{
    background-color: #76b4b0;
}

.background-primary{
    background-color: #76b4b0;
}