.menu-nav{
    background-color: #79d4ce;
    color: white;
}

.icon-toggle{
    background-image: url("../Assets/Icons/menu.png");
    border: black 1px solid;
}

.slogan{
    background-color: #79d4ce;
}

.background-primary{
    background-color: #79d4ce;
}

.menu-bar{
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    margin-left:auto;
}

.menu-item{
    color:white;
}

.menu-item:hover{
    color:red;
}