.App {
  text-align: center;
  color:white;
  background-color: #d7ddf7;
  font-family: 'Comfortaa', cursive;
}

.text-white{
  color:white;
}

.text-black{
  color:black;
}

.background-primary{
  background-color: orangered;
}

.bg-black{
  background-color: #000;
}

.styleHR{
  height: 2px;
  background-color: #000;
}

.list{
  list-style: none;
  text-decoration: none;
  color:white;
}

.login{
  width: 100%;
  height: 100%;
}